[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "spsh"]
	path = spsh
	url = https://github.com/cran/spsh
	shallow = true
	registered = true
